@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

*{
    margin:0;
    padding:0;
}

body {
     font-family: "Poppins", sans-serif;
     font-weight: 400;
     color: #fff;
     background: #000000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 50%, rgba(74, 40, 0, 1) 100%);
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo,
footer .blocks .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a{
    color: #fff;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #DC7000;
}

header nav ul li.btn a, .email .block button {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover, .email .block button:hover {
    background: #91a133;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -10px;
}

.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 527px;
    padding-top: 70px;
}

.hero--info h2 {
    font-weight: 600;
    font-size: 20px;
    color: #E87D0E;
}

.hero--info h1 {
    font-weight: 600;
    font-size: 50px;
}

.hero--info p {
    font-weight: 500;
    font-size: 16px;
    margin: 30px 0;
    line-height: 170%;
}

.hero--info .btn, .hero-about .info .btn {
    background: #FA8305;
    color: #fff;
    border-radius: 50px;
    font-size: 18px;
    padding: 10px 15px;
    transition: all 500ms ease;
    border: 0;
}

.hero--info .btn:hover, .hero-about .info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: -150px;
    right: 0;
}

/* Gaming Section */
.trending {
    padding-top: 50px;
}

.trending h3 {
    font-weight: 600;
    font-size: 31px;
}

.trending .see-all, .project .see-all {
    color: #fff;
    background: #000000;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}

.trending .see-all:hover, .project .see-all:hover {
    transform: scale(1.1);
}

.trending .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 15px;
}

.trending .games span img {
    position: relative;
    top: 5px;
    margin-right: 5px;
}

/* Big-text section*/

.big-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}

/*Banner*/

.banner {
    padding: 80px 0;
}

.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner p {
    font-size: 16px;
    font-weight: 400;
    width: 545px;
    line-height: 170%;
    margin-bottom: 30px;
}

.banner img {
    width: 100%;
    margin-bottom: 30px;
}

.features {
    background: url('../img/BG.png') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 80px;
}

.features h3,
.features p {
    margin-bottom: 20px;
    text-align: center;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
}

.features h3 {
    font-size: 30px;
    font-weight: 700;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}

.features .info .block img {
    margin-bottom: 17px;
}

.project {
    padding: 100px 0;
}

.project h3 {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
}

.project p {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 70px;
    font-size: 14px;
    max-width: 497px;   
    margin-left: auto;
    margin-right: auto;
}

.project .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.project .see-all {
    float: none;
    width: 60px;
    text-align: center;
    margin: 0 auto;
}

/* Bottom part*/
.email {
    padding-bottom: 120px;
}

.email h3 {
    margin-top: 60px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.email .block {
    background: #1C140F;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email .block h4 {
    font-size: 30px;
    font-weight: 500;
}

.email .block p {
    font-size: 17px;
    font-weight: 400;
    width: 530px;
}

.email .block input {
    background: #fff;
    width: 386px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 15px 20px;
    position: relative;
    right: -95px;
    z-index: 1;
    padding-right: 120px;
}

.email .block input::placeholder {
    color: #898989;
}

.email .block button {
    cursor: pointer;
    border: 0;
    padding: 10px 14px;
    position: relative;
    z-index: 2;
    color: #fff;
}

/* Страница про нас */
.hero-about {
    position: relative;
}

.hero-about .info {
    width: 500px;
    padding: 250px 0;
}

.hero-about .info h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-about .info .btn {
    margin-top: 20px;
}

.hero-about img {
    position: absolute;
    right: -150px;
    top: 0;
}

.work {
    padding: 80px 0;
}

.work h2 {
    font-size: 25px;
    margin-bottom: 40px;
}

.work .blocks {
    display: flex;
    justify-content: space-between;
}

.work .blocks .block {
    width: 25%;
    border-radius: 10px;
    padding: 50px 35px;
    background: #1C140F;
}

.work .blocks .block span {
    font-size: 14px;
    font-weight: 400;
}

.work .blocks .block h3 {
    font-size: 20px;
    margin: 20px 0;
}

.work .blocks .block .badge {
    border-radius: 7px;
    padding: 10px 20px;
}

.work .blocks .block .badge.purple {
    background: #560f67;
}

.work .blocks .block .badge.brown {
    background: #31190d;
}

.work .blocks .block .badge.green {
    background: #192a1d;
}

/* Contacts page */
.hero-contacts h2 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
}

.hero-contacts h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 33px;
}

.hero-contacts p {
    text-align: center;
}

.hero-contacts img {
    margin: 80px 15%;
}

.feedback {
    padding: 70px 0;
    background: #1C140F;
}

.feedback h2 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

.feedback p {
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
}

.feedback form {
    margin: 80px auto;
    width: 600px;
}

.feedback form .inline {
    display: flex;
    justify-content: space-between;
}

.feedback form .inline > div {
    width: 50%;
}

.feedback form label {
    color: #4F4F4F;
    font-size: 14px;   
}

.feedback form input,
.feedback form textarea {
    background: #2C2420;
    border-radius: 10px;
    border: 0.6px solid #CECECE;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: #ccc;
    margin-top: 7px;
    margin-bottom: 20px;
}

.feedback form .one-line {
   width: 96%; 
}

.feedback form textarea {
    resize: none;
    height: 200px;
}

.feedback form button {
    background: #DC7000;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    border: 0;
    float: right;
    cursor: pointer;
    transition: all 500ms ease;
}

.feedback form button:hover {
    background: rgb(69, 155, 87);
}

/*Footer*/
footer {
    background: #000000;
    padding: 50px 0;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .blocks p {
    width: 300px;
    margin: 15px 0;
}

footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;
}

footer .blocks ul {
    font-size: 16px;
    font-weight: 400;
    list-style: none;
}

footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #ccc;
}

footer p {
    text-align: center;
}